
:root{
    --stealblue: #4682B4;
     --tealblue:#0084A8;
     --tealgreen :#46AEB4;
     --lightblue: #87b2d5;
}
section{
    background-color: #87b2d5;
}
.dashboard .navbar{
    background-color: var(--stealblue);
    height: 70px;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    z-index:999;
}

.menu-bars{
    font-size: 1.5rem;
    background-color: none;
}
.nav-menu{
    background-color:var(--stealblue);
    width: 250px;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    left: -100%;
    transition: 850ms;
}
.nav-menu.active{
    left: 0;
    transition: 350ms;
}
.nav-text{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 0px;
    list-style: none;
    height: 60px;
}
.nav-text a{
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 8px;
    border-radius: 4px;
}
.nav-text a:hover{
    background-color: var(--tealgreen);
}
.nav-menu-items{
    width: 100%;
    padding-left:1rem;
}
.navbar-toggle{
    background-color: var(--stealblue);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}
span{
    margin-left: 16px;
}

/* Dashboard Data  */
.dashboard_bar{
    display: flex;
      flex-direction: column;
      gap: 30px;
      max-width: 1200px;
      margin:0 auto;
      padding: 20px;
      /* height: 0 !important; */
}
.dashboard_bar .dashboard_data{
     background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.dashboard_bar p{
    margin-bottom: 0 !important;
}
/* .Pie_chart{
   width:60% !important;  
} */

.process, 
.pending, 
.completed{
    width: 33%;
}
@media(max-width:768px){
    .Pie_chart{
        width: 100% !important;
    }
    
}
/* === Employee === */
.btn-secondary{
    background-color: var(--tealgreen);
    border:none;
}

/* === Assign Task ===  */
.assign_task .form-control{
    border-color: var(--tealblue) !important;
}
.line_Data{
    border: 1px solid gray;
}

/* Add Project  */
.add_project .add_data{
width: 60% !important;
}
@media(max-width:768px){
   .add_project .row{
width: 100% !important;
} 
}