*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-control.is-valid, .was-validated .form-control:valid,
.form-select.is-valid:not([multiple]):not([size]), .form-select.is-valid:not([multiple])[size="1"], .was-validated .form-select:valid:not([multiple]):not([size]), .was-validated .form-select:valid:not([multiple])[size="1"]{
    background-image: none !important;
}

.form-control{
    box-shadow: none !important;
}

li{
    list-style: none;
}